[user]
	email = sanju@thisux.com
	name = Sanju Sivalingam

[includeIf "gitdir:~/agi/"]
	path = ~/.gitconfig-work

[includeIf "gitdir:~/AGI/"]
	path = ~/.gitconfig-work

[url "git@github-work:agi-inc/"]
	insteadOf = git@github.com:agi-inc/

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
